
.history-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.history-info{
    margin: 20px;
    width: 45%;
    overflow: hidden;
}
.history-info p {
    line-height: 14px;
}
.history-info span {
    color: #108f3e;
}