.slick-slider {
    width: 100%;
}

.movie-list {
    margin: 50px 40px;
 h3 {
    margin-bottom: 20px
 }
}
.show-detail {
 
    height: 50px;
    width: 200px;
    border: 1px solid #108f3e;
    border-radius: 50px;
    color: #108f3e;
    background-color: #fff;
}
.show-detail:hover {
border: none;
background-color:#108f3e; 
}